.module-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: medium;
  color: #031926;
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #031926;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.section {
  background-color: #d9e2e3;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.apr-calculator {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.checking-account {
  grid-column: 2 / 3;
  
}

.how-to-choose {
  grid-column: 2 / 3;
}

.savings-account {
  grid-column: 3 / 4;
}

.actions {
  grid-column: 1 / 4;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.section-content ul {
  list-style: disc;
  margin-left: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.input-group label {
  margin-right: 10px;
  flex: 1;
}

.input-group input {
  flex: 2;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.actions input[type="checkbox"] {
  margin-right: 10px;
}

.actions label {
  margin-right: 20px;
}
