/* Scrollable section container */
.scrollable-section {
  position: relative;
  overflow-y: auto;
  padding-right: 10px; /* Adjust padding for scroll */
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3); /* Scroll indicator (shadow) */
}

/* Adding gradient at the bottom as an indicator */
.scrollable-section::after {
  content: "";
  position: sticky; /* Keeps the gradient in view at the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
  pointer-events: none;
}

.actions_m4 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.motivating-example {
  max-height: 600px;
  overflow-y: auto;
}

.video-section {
  background-color: #d9e2e3;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.video-container iframe {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  border: 0;
}